.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0d0d0;
  animation-name: fadeIn;
  animation-duration: 0.4s;

  .window {
    z-index: 999;
    width: 50%;
    max-height: 95%;
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    animation: slideIn 0.5s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transorm: translateY(-50%) scale(0.1);
    opacity: 0;
  }

  to {
    transorm: translateY(0) scale(1);
    opacity: 1;
  }
}
