{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": false,
  "semi": false,
  "printWidth": 80,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.mts", "*.cts", "*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json", "*.jsonc", "*.json5"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
