
.button{
  color:white;
  transition: scale 0.3s ease;
  &:hover{
    scale: 1.05;
    color:aqua
  }
}
.buttonA{
background-color: #46139f;
}
.buttonB{
 background-color: #ff7f50;
 }
 .buttonC{
  background-color: white;
  color:black;
  border: 1px solid #46139f
}